body {
    background-color: #eff6e0;
}

.container-fluid {
    background-color: #1f2937;
}

#image {
    position: absolute;
    left: 120vh;
    top: 20%;
}

#list a {
    color: rgb(237, 226, 226);
}

#list a:hover {
    background-color: rgb(213, 207, 207);
    color: rgb(16, 9, 9);
}

#card {
    background-color: #1f2937;
    color: white;
    left: 10;
}

/* #Checkbox1 {
    left: 50;
} */

.progress-bar {
    width: 0%;
}

#consultCard {
    top: 2000px;
}

#heading {
    position: absolute;
    top: 200rem;
}

#activites {
    position: absolute;
    top: 73rem;
}

#checkbox1 {
    padding: 4rem;
    background-color: #b8bdab;
    border: 2rem;
    border-color: #b8bdab;
    border-radius: 3rem;
}

#check1 {
    background-color: #b8bdab;
    border: 2rem;
    border-color: #b8bdab;
    border-radius: 3rem;
}

#img1 {
    border-radius: 50%;
    position: absolute;
    width: 20rem;
    height: 15rem;
    top: -1rem;
    left: 25rem;
}

#img2 {
    border-radius: 50%;
    position: absolute;
    width: 20rem;
    height: 15rem;
    top: -1rem;
    left: -25rem;
}

#checkbox2 {
    padding: 4rem;
    background-color: #b8bdab;
    border: 2rem;
    border-color: #b8bdab;
    border-radius: 3rem;
}

#check2 {
    background-color: #b8bdab;
    border: 2rem;
    border-color: #b8bdab;
    border-radius: 3rem;
}

#table {
    position: absolute;
    width: 52rem;
    top: 27rem;
    left: 2rem;
}

@media(max-width:762px) {
    #card {
        display: inline-block;
    }
}