<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Checkbox: <input type="checkbox" id="myCheck" onclick="barchart()">

    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script>
        function barChart() {
            var xValues = ["a", "b", "c", "d", "f"];
            var yValues = [10, 20, 30, 40, 50];
            
            var barColors = "green"

            new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                display: true,
                text: "Bar graph"
                }
            }
            });
        }
        </script>
</body>
</html>